@import-normalize;
/* bring in normalize.css styles */
@import '../node_modules/modern-normalize/modern-normalize.css';

/* Manrope--Regular */
@font-face {
  font-family: 'Manrope';
  src: local('Manrope  Regular'), local('Manrope--Regular'), url('./fonts/Manrope-Regular.woff2') format('woff2'),
    url('./fonts/Manrope-Regular.woff') format('woff'), url('./fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Manrope--Medium */
@font-face {
  font-family: 'Manrope ';
  src: local('Manrope  Medium'), local('Manrope--Medium'), url('./fonts/Manrope-Medium.woff2') format('woff2'),
    url('./fonts/Manrope-Medium.woff') format('woff'), url('./fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Manrope--Bold */
@font-face {
  font-family: 'Manrope ';
  src: local('Manrope  Bold'), local('Manrope--Bold'), url('./fonts/Manrope-Bold.woff2') format('woff2'),
    url('./fonts/Manrope-Bold.woff') format('woff'), url('./fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Manrope--Manrope-SemiBold */
@font-face {
  font-family: 'Manrope ';
  src: local('Manrope  SemiBold'), local('Manrope--SemiBold'), url('./fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('./fonts/Manrope-SemiBold.woff') format('woff'), url('./fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg-color: #fef9f9;
  --main-color: #111111;
  --main-light-color: #ffffff;
  --accent-color: #ffc107;
  --container-bg: #fdf7f2;
  --success-color: #00c3ad;
  --fail-color: #f43f5e;
  --dark-blue: #54adff;
  --lightblue: #cce4fb;
  --gradient-blue-bg: linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%);
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: var(--main-color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
